<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<body>
    {% block header %}
      <head>
          <title>Sistema de nutricion</title>

          <!--Importando librerias-->
          <!--JQUERY-->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
          <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
          
          <!-- Los iconos tipo Solid de Fontawesome-->
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
          <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        
          <!-- Nuestro css-->
          <link rel="stylesheet" type="text/css" href="/static/css/base.css" th:href="@{/css/index.css}">
      </head>   

      <body>

        <div class="global-container navbar-dark bg-dark">
            <nav class="navbar navbar-expand-lg ">
                
                <a class="navbar-brand" href="#">NutriUES</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    
                  </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">


                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pacientes
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Registrar Paciente</a>
                            <a class="dropdown-item" href="#">Buscar Paciente</a>
                          </div>
                        </li>


                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Menú
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Buscar Menú</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Buscar Alimento</a>
                          <a class="dropdown-item" href="#">Añadir Alimento</a>
                        </div>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link" href="#">Citas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Censos</a>
                          </li>
                   
                  </ul>
                  <ul id="menu" class="nav navbar-nav pull-right">

                      <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fas fa-male"></i> Perfil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-power-off"></i> Cerrar Sesion</a>
                          </li>
                    </ul> 
                </div>
              </nav>
        </div>
      </body>



    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

</body>
</html>